input {
  height: 2.5em;
  width: 60%;
  border: none;
  margin: 0;
  box-sizing: border-box;
  padding: 0 0 0 1em;
  font-size: 1em;
  font-weight: bold;
  font-size: 2em;
}

input::placeholder {
  color: #DDD;
}

button {
  height: 3em;
  width: 6em;
  color: #FFF;
  background: #43a8e2;
  border: none;
  font-weight: bold;
}
