<create-task></create-task>

<h2>today</h2>
<div *ngFor="let task of tasks">
    <task [task]="task" *ngIf="task.active && task.times.end === dateToday.dateDisplay"></task>
</div>

<h2>tomorrow</h2>
<div *ngFor="let task of tasks">
    <task [task]="task" *ngIf="task.active && task.times.end === dateTomorrow.dateDisplay"></task>
</div>

<h2>later</h2>
<div *ngFor="let task of tasks">
    <task [task]="task" *ngIf="task.active && task.times.end > dateTomorrow.dateDisplay"></task>
</div>

<br><br>