div.task {
  padding: 1em;
  background: #f5f5f5;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 1em 0;
  display: grid;
  grid-template-columns: 20em 12em 12em auto 6em 6em 6em;

  user-select: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

div.task-urgent {
  background: #fff1f1;
}

div.task-completed {
  background: #FFF;
}

div.task:hover {
  outline: 2px dashed #AFAFAF;
}

h3 {
  margin: 0.5em 0;
  display: inline-block;
}

p {
  margin: 0 0 0.5em 0;
}

div.task-section:first-child {
  grid-column: 1/2;
}

div.task-btn {
  text-align: center;
  line-height: 8em;
}

div.task-infos-in {
  clear: both;
  display: block;
}

div button {
  border: none;
  border-radius: 3px;
  background: #43a8e2;
  color: #FFF;
  padding: 1em;
}

div.task-deleted-btn button {
  width: 4em;
}

div button.urgent-btn-clicked {
  background: #e06a6a;
}

div button.completed-btn-clicked {
  background: #539865;
}

div input.task-in {
  border: none;
}
