header {
    background: #DCDCDC;
    clear: both;
    width: 100%;
    text-align: right;
}

header div {
    width: 10em;
    text-align: center;
    display: inline-block;
    padding: .8em 0;
    margin: 0 2em 0 0;
}

header div h2,
header div i {
    padding: .1em 0;
    margin: 0;
}

sidebar {
    background: #8E96B8;
    float: left;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 200ms ease-out;
    width: 4em;
    height: 100%;
}

sidebar.sidebar-extend {
    width: 12em;
}

main {
    float: left;
    padding: 1em 1em 0 1em;
}

footer {
    width: 100%;
    clear: both;
    background: #4D4D4D;
    padding: 4em 0;
}