ul {
    display: block;
    color: #FFF;
    list-style: none;
    padding: 0;
    margin: 2em 0;
}

ul li div {
    transition: all 200ms ease-in-out;
}

ul li div:hover {
    background: #FFF;
    color: #8E96B8;
}

div.side-link {
    text-align: center;
    padding: 1em 0;
}

div.side-link-long {
    padding: 1em 0 1em 1em;
    text-align: left;
}